In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline   # ÿπÿ±ÿ∂ ÿßŸÑÿ±ÿ≥ŸàŸÖÿßÿ™ ÿØÿßÿÆŸÑ Jupyter

UsageError: unrecognized arguments: # ÿπÿ±ÿ∂ ÿßŸÑÿ±ÿ≥ŸàŸÖÿßÿ™ ÿØÿßÿÆŸÑ Jupyter

In [ ]:
# ŸÇÿ±ÿßÿ°ÿ© ÿßŸÑÿ®ŸäÿßŸÜÿßÿ™
file_path = r"C:\Users\Rawan\Documents\smartphone_sales_dataset.csv"
df = pd.read_csv(file_path)
# ŸÖÿπÿßŸäŸÜÿ© ÿ£ŸàŸÑ 5 ÿµŸÅŸàŸÅ
print("üîç Preview of data:")
display(df.head())

üîç Preview of data:

,Phone_ID,Brand,RAM_GB,Storage_GB,Screen_Size,Price_USD,Battery_mAh,OS,Rating,Quantity_Sold,Sales_Revenue,Profit
0,1,OnePlus,8,256,7.15,395.0,3227.0,Android,4.3,66,26070.0,6517.5
1,2,Google,12,256,6.44,228.0,5881.0,Android,3.5,100,22800.0,5700.0
2,3,Xiaomi,16,1024,7.23,905.0,3857.0,iOS,4.8,496,NaN,112220.0
3,4,Google,16,512,6.49,NaN,4268.0,iOS,4.7,319,389180.0,97295.0
4,5,Google,16,128,7.03,NaN,5865.0,Android,4.0,364,78260.0,NaN

In [64]:
# ŸÖÿπŸÑŸàŸÖÿßÿ™ ÿ£ŸàŸÑŸäÿ© ÿπŸÜ ÿßŸÑÿ®ŸäÿßŸÜÿßÿ™
print("\n‚Ñπ Initial Data Info:")
df.info()

‚Ñπ Initial Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694 entries, 0 to 1693
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Phone_ID       1694 non-null   int64
 1   Brand          1694 non-null   object
 2   RAM_GB         1694 non-null   int64
 3   Storage_GB     1694 non-null   int64
 4   Screen_Size    1694 non-null   float64
 5   Price_USD      1694 non-null   float64
 6   Battery_mAh    1694 non-null   float64
 7   OS             1694 non-null   object
 8   Rating         1694 non-null   float64
 9   Quantity_Sold  1694 non-null   int64
 10  Sales_Revenue  1694 non-null   float64
 11  Profit         1694 non-null   float64
dtypes: float64(6), int64(4), object(2)
memory usage: 158.9+ KB

In [65]:
# ÿßŸÑÿ™ÿ≠ŸÇŸÇ ŸÖŸÜ ÿßŸÑŸÇŸäŸÖ ÿßŸÑŸÖŸÅŸÇŸàÿØÿ©
print("\n! Missing Values:")
print(df.isnull().sum())

! Missing Values:
Phone_ID         0
Brand            0
RAM_GB           0
Storage_GB       0
Screen_Size      0
Price_USD        0
Battery_mAh      0
OS               0
Rating           0
Quantity_Sold    0
Sales_Revenue    0
Profit           0
dtype: int64

In [63]:
# ÿ™ŸÜÿ∏ŸäŸÅ ÿßŸÑÿ£ÿπŸÖÿØÿ© ÿßŸÑŸÜÿµŸäÿ©
text_columns = ['Brand', 'OS']
for col in text_columns:
    df[col] = df[col].astype(str).str.strip().str.lower()
# ÿ≠ÿ∞ŸÅ ÿßŸÑÿµŸÅŸàŸÅ ÿßŸÑÿ™Ÿä ÿ™ÿ≠ÿ™ŸàŸä ÿπŸÑŸâ ŸÇŸäŸÖ ŸÖŸÅŸÇŸàÿØÿ©
df.dropna(inplace=True)

# ÿßŸÑÿ™ÿ£ŸÉÿØ ŸÖŸÜ ÿ£ŸÜ ÿßŸÑÿ™ŸÇŸäŸäŸÖ ÿ®ŸäŸÜ 1 Ÿà 5
df = df[df['Rating'].between(1, 5)]

# ÿßŸÑÿ™ÿ£ŸÉÿØ ŸÖŸÜ ÿ£ŸÜ ÿßŸÑŸÇŸäŸÖ ÿßŸÑÿ±ŸÇŸÖŸäÿ© ŸÖŸàÿ¨ÿ®ÿ©
numeric_cols = ['RAM_GB', 'Storage_GB', 'Screen_Size', 'Price_USD', 
                'Battery_mAh', 'Quantity_Sold', 'Sales_Revenue', 'Profit']
for col in numeric_cols:
    df = df[df[col] > 0]

# ÿ•ÿ≤ÿßŸÑÿ© ÿßŸÑŸÇŸäŸÖ ÿßŸÑÿ¥ÿßÿ∞ÿ© ŸÅŸä Price_USD ÿ®ÿßÿ≥ÿ™ÿÆÿØÿßŸÖ IQR
Q1 = df['Price_USD'].quantile(0.25)
Q3 = df['Price_USD'].quantile(0.75)
IQR = Q3 - Q1
df = df[(df['Price_USD'] >= Q1 - 1.5 * IQR) & (df['Price_USD'] <= Q3 + 1.5 * IQR)]

# ÿ•ÿπÿßÿØÿ© ÿ™ÿπŸäŸäŸÜ ÿßŸÑŸÅŸáÿ±ÿ≥
df.reset_index(drop=True, inplace=True)

# ŸÅÿ≠ÿµ ŸÜŸáÿßÿ¶Ÿä
print("\n‚úÖ Cleaned Data Summary:")
display(df.describe())

print("\nüìã Final Data Info:")
df.info()

‚úÖ Cleaned Data Summary:

,Phone_ID,RAM_GB,Storage_GB,Screen_Size,Price_USD,Battery_mAh,Rating,Quantity_Sold,Sales_Revenue,Profit
count,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000,1694.000000
mean,1000.284534,9.329398,401.756789,6.261110,866.838843,4524.098583,3.996930,275.988784,238134.726682,59533.681671
std,575.353099,4.364262,349.227242,0.724669,369.798538,864.764418,0.581383,128.336577,156274.014777,39068.503694
min,1.000000,4.000000,64.000000,5.000000,200.000000,3002.000000,3.000000,50.000000,11600.000000,2900.000000
25%,499.250000,6.000000,128.000000,5.640000,558.000000,3761.000000,3.500000,166.000000,110830.500000,27707.625000
50%,1001.000000,8.000000,256.000000,6.245000,865.000000,4525.000000,4.000000,277.000000,202349.000000,50587.250000
75%,1494.750000,12.000000,512.000000,6.900000,1188.750000,5283.000000,4.500000,383.000000,332413.500000,83103.375000
max,2000.000000,16.000000,1024.000000,7.500000,1499.000000,5999.000000,5.000000,499.000000,738514.000000,184628.500000

üìã Final Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1694 entries, 0 to 1693
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Phone_ID       1694 non-null   int64
 1   Brand          1694 non-null   object
 2   RAM_GB         1694 non-null   int64
 3   Storage_GB     1694 non-null   int64
 4   Screen_Size    1694 non-null   float64
 5   Price_USD      1694 non-null   float64
 6   Battery_mAh    1694 non-null   float64
 7   OS             1694 non-null   object
 8   Rating         1694 non-null   float64
 9   Quantity_Sold  1694 non-null   int64
 10  Sales_Revenue  1694 non-null   float64
 11  Profit         1694 non-null   float64
dtypes: float64(6), int64(4), object(2)
memory usage: 158.9+ KB

In [12]:
# ÿ•ÿ¨ŸÖÿßŸÑŸä ÿßŸÑÿ•Ÿäÿ±ÿßÿØÿßÿ™
total_revenue = df['Sales_Revenue'].sum()
print("‚úÖ Total Sales Revenue: $", total_revenue)

# ÿ•ÿ¨ŸÖÿßŸÑŸä ÿßŸÑÿ±ÿ®ÿ≠
total_profit = df['Profit'].sum()
print("‚úÖ Total Profit: $", total_profit)

‚úÖ Total Sales Revenue: $ 448696443.0
‚úÖ Total Profit: $ 114967965.0

In [13]:
# ÿ≠ÿ≥ÿßÿ® ÿ•ÿ¨ŸÖÿßŸÑŸä ÿßŸÑÿ±ÿ®ÿ≠
total_profit = df['Profit'].sum()
print("‚úÖ Total Profit: $", total_profit)

‚úÖ Total Profit: $ 114967965.0

In [14]:
# ÿ≠ÿ≥ÿßÿ® ÿπÿØÿØ ÿßŸÑŸàÿ≠ÿØÿßÿ™ ÿßŸÑŸÖÿ®ÿßÿπÿ© ŸÑŸÉŸÑ ÿπŸÑÿßŸÖÿ© ÿ™ÿ¨ÿßÿ±Ÿäÿ©
units_sold_per_brand = df.groupby('Brand')['Quantity_Sold'].sum()
print("‚úÖ Number of units sold per Brand:\n", units_sold_per_brand)

‚úÖ Number of units sold per Brand:
 Brand
Apple      87213
Google     91731
Huawei     92789
OnePlus    91960
Samsung    94756
Xiaomi     90055
Name: Quantity_Sold, dtype: int64

In [15]:
# ÿ≠ÿ≥ÿßÿ® ŸÖÿ™Ÿàÿ≥ÿ∑ ÿßŸÑÿ≥ÿπÿ± ŸÑŸÉŸÑ ÿπŸÑÿßŸÖÿ© ÿ™ÿ¨ÿßÿ±Ÿäÿ©
avg_price_per_brand = df.groupby('Brand')['Price_USD'].mean()
print("‚úÖ Average price per Brand:\n", avg_price_per_brand)

‚úÖ Average price per Brand:
 Brand
Apple      860.625000
Google     850.610063
Huawei     863.283439
OnePlus    863.587097
Samsung    883.899110
Xiaomi     869.110032
Name: Price_USD, dtype: float64

In [16]:
# ÿßŸÑŸáÿßÿ™ŸÅ ÿßŸÑÿ£ÿπŸÑŸâ ÿ™ŸÇŸäŸäŸÖŸãÿß
top_rated_phone = df.loc[df['Rating'].idxmax()]
print("‚úÖ Top-rated phone:\n", top_rated_phone[['Phone_ID', 'Brand', 'Rating']])

‚úÖ Top-rated phone:
 Phone_ID        64
Brand       Huawei
Rating         5.0
Name: 63, dtype: object

In [17]:
# ÿ≠ÿ≥ÿßÿ® ŸÖÿ™Ÿàÿ≥ÿ∑ ÿßŸÑÿ™ŸÇŸäŸäŸÖ ŸÑŸÉŸÑ ŸÜÿ∏ÿßŸÖ ÿ™ÿ¥ÿ∫ŸäŸÑ
avg_rating_per_os = df.groupby('OS')['Rating'].mean()
print("‚úÖ Average rating per OS:\n", avg_rating_per_os)

‚úÖ Average rating per OS:
 OS
Android    3.994743
iOS        4.011014
Name: Rating, dtype: float64

In [18]:
# ÿπÿ±ÿ∂ ÿ£ŸÉÿ´ÿ± ÿßŸÑŸáŸàÿßÿ™ŸÅ ÿ±ÿ®ÿ≠Ÿãÿß
most_profitable_phones = df[['Phone_ID', 'Brand', 'Profit']].sort_values(by='Profit', ascending=False)
print("‚úÖ Most profitable phones:\n", most_profitable_phones.head())

‚úÖ Most profitable phones:
       Phone_ID    Brand     Profit
1079      1080   Huawei  184628.50
1874      1875  Samsung  183264.00
1667      1668   Google  179328.75
486        487   Huawei  177631.50
1677      1678   Huawei  177511.50

In [19]:
# ÿ≠ÿ≥ÿßÿ® ŸÖÿ™Ÿàÿ≥ÿ∑ ÿßŸÑÿ±ÿ®ÿ≠ ŸÑŸÉŸÑ Ÿàÿ≠ÿØÿ© ŸÖÿ®ÿßÿπÿ©
df['Profit_Per_Unit'] = df['Profit'] / df['Quantity_Sold']
avg_profit_per_unit = df['Profit_Per_Unit'].mean()
print("‚úÖ Average profit per unit sold: $", avg_profit_per_unit)

‚úÖ Average profit per unit sold: $ 216.2512886597938

In [20]:
# ŸÖŸÇÿßÿ±ŸÜÿ© ÿ®ŸäŸÜ Android Ÿà iOS ŸÖŸÜ ÿ≠Ÿäÿ´ ÿßŸÑÿ•Ÿäÿ±ÿßÿØÿßÿ™ÿå ÿßŸÑÿ±ÿ®ÿ≠ÿå ŸàÿßŸÑŸÖÿ®Ÿäÿπÿßÿ™
comparison = df.groupby('OS').agg({'Sales_Revenue': 'sum', 'Profit': 'sum', 'Quantity_Sold': 'sum'})
print("‚úÖ Comparison of Android vs iOS:\n", comparison)

‚úÖ Comparison of Android vs iOS:
          Sales_Revenue       Profit  Quantity_Sold
OS
Android    375122415.0  95969342.75         456507
iOS         73574028.0  18998622.25          91997

In [21]:
# ÿ≠ÿ≥ÿßÿ® ÿßŸÑÿ™ÿ±ÿßÿ®ÿ∑ ÿ®ŸäŸÜ RAM Ÿàÿ≠ÿ¨ŸÖ ÿßŸÑŸÖÿ®Ÿäÿπÿßÿ™
correlation_ram_sales = df['RAM_GB'].corr(df['Quantity_Sold'])
print("‚úÖ Correlation between RAM and Sales:", correlation_ram_sales)

‚úÖ Correlation between RAM and Sales: 0.01491283163631547